<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNRrZyy8TV-eQoqiSQeifp3tpYC9X4cIw</string>
	<key>GCM_SENDER_ID</key>
	<string>419532542298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noctrise.Pulse</string>
	<key>PROJECT_ID</key>
	<string>pulse-29684</string>
	<key>STORAGE_BUCKET</key>
	<string>pulse-29684.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419532542298:ios:64b045a8165ae0c02e6363</string>
</dict>
</plist>